@model IEnumerable<ShopDb.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<!--Section: All Products -->
      <section class="text-center">
        <h1 class="mb-5 navbar-brand" style="color: #5e9693; font-size: 4vw"><strong>@ViewBag.Header</strong></h1>

        <div class="row">
            @foreach (var item in Model)
        {
          <div class="col-lg-3 col-md-4 mb-4">
            <div class="card">
              <div class="imagesquare bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="@(item.PictureUrl!=null ? item.PictureUrl : "https://mdbootstrap.com/img/new/standard/nature/184.jpg")" class="p-3 img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">
                  @item.Price €
                </p>
                <a href="/Product/Details/@item.Id/@item.Name" class="btn btn-secondary">Tuotteen tiedot</a>
              </div>
            </div>
          </div>
        }
        </div>
      </section>
      <!--Section: All Products -->
