
@{

}
<div class="container-sm">
<h1>Login</h1>

    <form class="form-horizontal" method="post" accept-charset="UTF-8">
                    <input class="form-control login" type="number" name="Id" placeholder="User ID"><br>
                    <input class="form-control login" type="password" name="password" placeholder="Password.."><br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Login">  @Html.ActionLink("Create new Account", "NewUser", "User", null, new {@class="btn btn-secondary"})
                    
    </form>
    <p>@ViewBag.LoginFailedMessage</p>
    
</div>