@model ShopDb.Models.User
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
}
<div class="container-sm container rounded bg-white bg-semitransparent mt-5 mb-auto text-center" style="padding: 2vw">

<h1 class="navbar-brand" style="color: #5e9693;">Luo uusi käyttäjä</h1>


<div class="row">
    <div>
        <form method="POST" asp-action="NewUser">
            <div class="form-group m-3">
                <input type="text" name="firstName" class="form-control"   placeholder="Etunimi">
            </div>
            <div class="form-group m-3">
                <input type="text" name="lastName" class="form-control"   placeholder="Sukunimi">
            </div>
            <div class="form-group m-3">
                <input type="text" name="phone" class="form-control"   placeholder="Puhelin">
            </div>
            <div class="form-group m-3">
                <input type="email" name="email" class="form-control"   placeholder="Email">
            </div>
            <div class="form-group m-3">
                <input type="text" name="address" class="form-control"   placeholder="Osoite">
            </div>
            <div class="form-group m-3">
                <input type="text" name="postalCode" class="form-control"  placeholder="Postinumero">
            </div>
            <div class="form-group m-3">
                <input type="text" name="city" class="form-control"  placeholder="Kaupunki">
            </div>
            <div class="form-group m-3">
                <button type="submit button" class="btn btn-secondary">Luo käyttäjä</button>
            </div>
            <div class="form-group m-3" style="color:red">@HttpContextAccessor.HttpContext.Session.GetString("UserValidator") </div>
        </form>
    </div>
</div>
</div>


    
