@using System.Globalization
@model IEnumerable<ShopDb.Models.Order>

@{
    ViewData["Title"] = "OrderHistory";
}

<div class="container-sm container rounded bg-white bg-semitransparent mt-5 mb-auto text-center" style="padding: 2vw">

    <h1 class="navbar-brand" style="color: #5e9693;">Tilaukset</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Tilauspäivä
            </th>
            <th>
                Summa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice) €
            </td>
            <td>
                @Html.ActionLink("Tilauksen tiedot", "OrderDetails", "User", new {id = item.Id}, new {@class="btn btn-secondary"})
            </td>
        </tr>
}
    </tbody>
</table>
</div>