@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Session esimerkki: @Accessor.HttpContext.Session.GetString("key")</p>
    <a asp-action="AddToCart" asp-route-id="4">Lisää koriin tuote jonka id on 4</a>
</div>
